Flask
python-dotenv
pandas
PyPDF2
python-docx
numpy
hdbcli
Werkzeug
openpyxl
xlrd
gunicorn
python-pptx

# Streamlit dependencies
streamlit

#GenAI

sap-ai-sdk-gen[all]

# FastAPI dependencies
fastapi
uvicorn[standard]
python-multipart
pydantic

